<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

	<!-- This is Project Specific Spring Config -->



    <!-- This makes Application Context annotation aware @PersistenceContext -->
	<context:annotation-config />

	<bean id="messageService" class="com.quarks.c.service.impl.MessageServiceImpl" />

	<bean id="delegate" class="com.quarks.b.delegate.Delegate" scope="singleton" />

	<bean id="messageDAO" class="com.quarks.d.dao.impl.MessageDAOImpl"/>

	<bean name="/inv.htm" class="com.quarks.a.web.controller.InvController" />


	<tx:annotation-driven />

</beans>
